
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div style="margin-top: -40px;" class="govuk-grid-row">
  <div class="govuk-width-container">

    <div class="moj-organisation-nav" aria-label="Organisation switcher">
    <div class="moj-organisation-nav__title"><span style="font-weight:normal; font-size: 18px">Signed in as Grace Smith</span></div>
    <a href="#" class="moj-organisation-nav__link"><span style="font-size: 18px">Sign out</span></a>
    </div>


<a href="/admin-view" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-width-container">

<span class="govuk-caption-xl">Building details</span>
      <h2 class="govuk-heading-l">
        Wendover house, Thurlow St, London, SE17 2UZ
      </h2>

      <strong class="govuk-tag">
       Over 18m tall
     </strong>
          <br>
     <br>
<p><strong>Building height:</strong> 21 metres <br>
  <strong>Number of stories:</strong> 7</p>


<!-- content below-->

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Building details
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">


            <table class="govuk-table">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Building name</th>
                  <td class="govuk-table__cell">Wendover House</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Street</th>
                  <td class="govuk-table__cell">Thurlow Street</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Local area</th>
                  <td class="govuk-table__cell">Southwark</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">City</th>
                  <td class="govuk-table__cell">London</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Postcode</th>
                  <td class="govuk-table__cell">SE17 2UZ</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">UPRN</th>
                  <td class="govuk-table__cell">12853392</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Building tenure</th>
                  <td class="govuk-table__cell">Freehold</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Local authority area</th>
                  <td class="govuk-table__cell">Southwark</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Building owner/freeholder</th>
                  <td class="govuk-table__cell">Genesis Homes</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Building developer</th>
                  <td class="govuk-table__cell">Braithwaites</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Managing Agent</th>
                  <td class="govuk-table__cell">-</td>
                </tr>
                <tr class="govuk-table__row">
                  <th style="border-bottom-width: 0px;" scope="row" class="govuk-table__header">Has a right-to-manage company?</th>
                  <td style="border-bottom-width: 0px;" class="govuk-table__cell">Yes</td>
                </tr>
              </tbody>
            </table>
<br>

          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                External walls
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">

            <h3 class="govuk-heading-m">Number of different external materials on walls</h3>
            <p class='govuk-body'>5</p>

            <h3 class="govuk-heading-m">External materials</h3>
            <p class='govuk-body'>
              Glass, High pressure laminate, Metal sheet panels, Brick, Timber or wood
            </p>

            <h3 class="govuk-heading-m">Further details of materials</h3>
            <p class='govuk-body'>
              Fire Classification: s1
            </p>

            <h3 class="govuk-heading-m">Percentage of external wall covering</h3>
            <p class='govuk-body'>
              21-40%
            </p>


            <h3 class="govuk-heading-m">Insulation </h3>
            <p class='govuk-body'>
              Phenolic foam insulation
            </p>

            <h3 class="govuk-heading-m">Insulation details</h3>
            <p class='govuk-body'>
              Fire Classification: A1
            </p>

            <br>

          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                External wall attachments
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">

            <h3 class="govuk-heading-m">External wall structures </h3>
            <p class='govuk-body'>
              Green walls
            </p>

          </div>
        </div>
      </div>







    </div>
  </div>

{% endblock %}
