
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="/admin-view" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-width-container">

<span class="govuk-caption-xl">Building details</span>
      <h2 class="govuk-heading-l">
        Wendover house, Thurlow St, London, SE17 2UZ
      </h2>

      <strong class="govuk-tag">
       Over 18m tall
     </strong>

     <br>
          <br>
<p>Wendover house is 18 stories high</p>



<!-- content below-->

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Building details
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

            <h3 class="govuk-heading-m">Building Name</h3>
            <p>Wendover House</p>

            <h3 class="govuk-heading-m">Street</h3>
            <p>Wendover House</p>

            <h3 class="govuk-heading-m">Local area</h3>
            <p>Wendover House</p>

            <h3 class="govuk-heading-m">City</h3>
            <p>Wendover House</p>

            <h3 class="govuk-heading-m">Postcode</h3>
            <p>Wendover House</p>

            <h3 class="govuk-heading-m">Building UPRN</h3>
            <p>Wendover House</p>

            <h3 class="govuk-heading-m">Building tenure</h3>
            <p>Wendover House</p>

            <h3 class="govuk-heading-m">Local authority area</h3>
            <p>Wendover House</p>

            <h3 class="govuk-heading-m">Building owner/freeholder</h3>
            <p>Wendover House</p>

            <h3 class="govuk-heading-m">Building developer</h3>
            <p>Wendover House</p>

            <h3 class="govuk-heading-m">Managing Agent</h3>
            <p>Wendover House</p>

            <h3 class="govuk-heading-m">Has a right-to-manage company?</h3>
            <p>Wendover House</p>


          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                External walls
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">

            <h3 class="govuk-heading-m">Number of different external materials on walls</h3>
            <p>5</p>

            <h3 class="govuk-heading-m">External materials</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li>Glass</li>
              <li>Metal glass panels</li>
              <li>Render system</li>
              <li>Brick slips</li>
              <li>Treated wood cladding</li>
            </ul>

          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                External wall attachments
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            <p class='govuk-body'>This is the content for Know your audience.</p>
          </div>
        </div>
      </div>







    </div>
  </div>

{% endblock %}
