
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <a href="/survey" class="govuk-back-link">Back</a>

<span class="govuk-caption-xl">Question 1</span>

            <form action="/survey-answer" method="post" class="form">

                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                          <h1 class="govuk-fieldset__heading">
                            Is the building over 18m tall?
                          </h1>
                        </legend>

                        <span id="nationality-hint" class="govuk-hint">
                          Measurements should be taken from the ground to the floor of the top level using Approved Document B
                          Volume 2 Diagram C6
                          </span>
                        <div class="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="building-height-yes" name="building-height" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="vehicle-type-car">
                              Yes
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="building-height-no" name="building-height" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="vehicle-type-lorry">
                              No
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="building-height-not-sure" name="building-height" type="radio" value="notSure">
                            <label class="govuk-label govuk-radios__label" for="vehicle-type-motorcycle">
                              Not sure
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>

                    <button class="govuk-button" data-module="govuk-button">Continue</button>

                  </form>



    </div>
  </div>

{% endblock %}
