
<!DOCTYPE html>
<html class="app-template" lang="en">
<head>
  <meta charset="utf-8">
  <title>Side navigation - MOJ Design System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c">

  <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/public/images/moj-apple-touch-icon-180x180.png" sizes="180x180">
  <link rel="apple-touch-icon" href="/public/images/moj-apple-touch-icon-167x167.png" sizes="167x167">
  <link rel="apple-touch-icon" href="/public/images/moj-apple-touch-icon-152x152.png" sizes="152x152">
  <link rel="apple-touch-icon" href="/public/images/moj-apple-touch-icon.png">

  <meta name="description" content="Design your service using MOJ styles, components and patterns">
  <meta property="og:image" content="/public/images/moj-opengraph-image.png">

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">

  <!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet"><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" rel="stylesheet"><!--<![endif]-->

  <!--[if lt IE 9]>
    <script src="/public/javascripts/vendor/html5shiv-3.7.3.min.js"></script>
  <![endif]-->
</head>
<body class="app-template__body">

  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



  <div class="app-pane">

    <div class="app-pane__header">

  <header class="app-header">

    <div class="govuk-width-container">

      <a class="app-header__link" href="/">

        <span class="app-header__logotype">
          <svg class="app-header__logotype-crest" width="50px" height="42px" aria-hidden="true" focusable="false"><use xlink:href="#app-header-crest" href="#app-header-crest"></use></svg><span class="app-header__logotype-text">Ministry of Justice</span>
        </span>

        <span class="app-header__title">Design System</span>

      </a>

    </div>

  </header>

</div>


    <div class="govuk-phase-banner app-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="/get-in-touch">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


    <div class="app-pane__nav">

  <div class="govuk-width-container">

  <nav class="app-nav">

  <ul class="app-nav__list">
      <li class="app-nav__list-item">
        <a href="/get-started">Get started</a>
      </li>

      <li class="app-nav__list-item">
        <a href="/styles">Styles</a>
      </li>

      <li class="app-nav__list-item app-nav__list-item--selected">
        <a href="/components" aria-current="page">Components</a>
      </li>

      <li class="app-nav__list-item">
        <a href="/patterns">Patterns</a>
      </li>

      <li class="app-nav__list-item">
        <a href="/community">Community</a>
      </li>
    </ul>

</nav>


  </div>

</div>


    <div class="app-pane__body">

      <div class="app-pane__subnav">

<nav class="app-subnav">
    <ul class="app-subnav__list">
        <li class="app-subnav__list-item">
          <a href="/components/add-another">Add another</a>
        </li>

        <li class="app-subnav__list-item">
          <a href="/components/badge">Badge</a>
        </li>

        <li class="app-subnav__list-item">
          <a href="/components/banner">Banner</a>
        </li>

        <li class="app-subnav__list-item">
          <a href="/components/button-menu">Button menu</a>
        </li>

        <li class="app-subnav__list-item">
          <a href="/components/currency-input">Currency input</a>
        </li>

        <li class="app-subnav__list-item">
          <a href="/components/filter">Filter</a>
        </li>

        <li class="app-subnav__list-item">
          <a href="/components/form-validator">Form validator</a>
        </li>

        <li class="app-subnav__list-item">
          <a href="/components/header">Header</a>
        </li>

        <li class="app-subnav__list-item">
          <a href="/components/identity-bar">Identity bar</a>
        </li>

        <li class="app-subnav__list-item">
          <a href="/components/messages">Messages</a>
        </li>

        <li class="app-subnav__list-item">
          <a href="/components/multi-file-upload">Multi file upload</a>
        </li>

        <li class="app-subnav__list-item">
          <a href="/components/multi-select">Multi select</a>
        </li>

        <li class="app-subnav__list-item">
          <a href="/components/notification-badge">Notification badge</a>
        </li>

        <li class="app-subnav__list-item">
          <a href="/components/organisation-switcher">Organisation switcher</a>
        </li>

        <li class="app-subnav__list-item">
          <a href="/components/page-header-actions">Page header actions</a>
        </li>

        <li class="app-subnav__list-item">
          <a href="/components/pagination">Pagination</a>
        </li>

        <li class="app-subnav__list-item">
          <a href="/components/password-reveal">Password reveal</a>
        </li>

        <li class="app-subnav__list-item">
          <a href="/components/primary-navigation">Primary navigation</a>
        </li>

        <li class="app-subnav__list-item">
          <a href="/components/rich-text-editor">Rich text editor</a>
        </li>

        <li class="app-subnav__list-item">
          <a href="/components/search">Search</a>
        </li>

        <li class="app-subnav__list-item app-subnav__list-item--selected">
          <a href="/components/side-navigation" aria-current="location">Side navigation</a>
        </li>

        <li class="app-subnav__list-item">
          <a href="/components/sortable-table">Sortable table</a>
        </li>

        <li class="app-subnav__list-item">
          <a href="/components/sub-navigation">Sub navigation</a>
        </li>

        <li class="app-subnav__list-item">
          <a href="/components/tag">Tag</a>
        </li>

        <li class="app-subnav__list-item">
          <a href="/components/task-list">Task list</a>
        </li>

        <li class="app-subnav__list-item">
          <a href="/components/timeline">Timeline</a>
        </li>
      </ul>
  </nav>


        <div class="app-back-to-top" data-module="app-back-to-top">
  <a href="#top">
    <svg class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to top
  </a>
</div>
      </div>

      <div class="app-pane__content">

        <main class="app-content" role="main">


  <h1 class="govuk-heading-xl govuk-!-margin-bottom-4"><span class="govuk-caption-xl">Components</span> Side navigation</h1>

  <strong class="govuk-tag govuk-!-margin-bottom-8">
  experimental
</strong>


  <div class="app-prose-scope">
    <p>Use the side navigation component to let users navigate sub sections in a system or service.</p>
<div class="app-example">

<span class="app-example__new-window">
<a href="/components/side-navigation/examples/default" target="_blank">Open this example in a new window</a>
</span>

<iframe class="app-example__frame" scrolling="auto" frameborder="0" height="250" src="/components/side-navigation/examples/default"></iframe>

</div>

<div class="app-tabs">

<ul class="app-tabs__list">
<li class="app-tabs__list-item"><a class="app-tabs__tab" href="#html-default-">HTML</a></li>
<li class="app-tabs__list-item"><a class="app-tabs__tab" href="#nunjucks-default-">Nunjucks</a></li>
</ul>

<div class="app-tabs__panel app-js-hidden" id="html-default-" data-module="app-copy">

<pre><code class="hljs"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-grid-row"</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-grid-column-one-third"</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">nav</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"moj-side-navigation"</span> <span class="hljs-attr">aria-label</span>=<span class="hljs-string">"Side navigation"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">ul</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"moj-side-navigation__list"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"moj-side-navigation__item moj-side-navigation__item--active"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#1"</span> <span class="hljs-attr">aria-current</span>=<span class="hljs-string">"location"</span>&gt;</span>Nav item 1<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"moj-side-navigation__item"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#2"</span>&gt;</span>Nav item 2<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"moj-side-navigation__item"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#3"</span>&gt;</span>Nav item 3<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">nav</span>&gt;</span>

<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>

<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span> </code></pre>


</div>
</div>
</div>
</div>
</div>
</div>



</body>
</html>
